<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
	<title>Facebook Poked's</title>
</head>
<body style="padding-top: 2em;background-color: #e9ebee;">
	<div class="container" id="phuongbach">
		<div class="panel panel-primary">
			<div class="panel-heading">Poked Friend's Facebook</div>
			<div class="panel-body">
				<input v-model="access_token" class="form-control" placeholder="Access Token" :disabled="btnLoading">
				<br>
				<div class="input-group">
					<span class="input-group-addon">Delay (ms)</span>
					<input type="text" class="form-control" v-model="delay" :disabled="btnLoading">
				</div>
			</div>
			<div class="panel-footer text-right">
				<button class="btn btn-primary" :disabled="btnLoading || !access_token || !delay" v-on:click="checkAccessToken">{{btnLoading ? 'Đang gửi dữ liệu' : 'Bắt Đầu'}}</button>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Thông tin tài khoản</div>
			<div class="panel-body">
				* UID Facebook: {{info.id}}<br/>
				* Tên tài khoản: {{info.name}}<br/>
				* Tổng số bạn bè có thể chọc: {{info.total_friends}}<br/>
				<font color="green">* Chọc thành công: {{info.success}}</font><br/>
				<font color="red">* Chọc thất bại: {{info.failed}}</font><br/>
			</div>
		</div>
	</div>
</body>
<script>
	new Vue({
		el: "#phuongbach",
		data: {
			delay: null,
			info: {},
			btnLoading: false,
			access_token: null,
		},

		created: async function() {
			this.default();
		},

		methods: {
			default: function() {
				this.info.id = null;
				this.info.friends = [];
				this.info.total_friends = 0;
				this.info.success = 0;
				this.info.failed = 0;
				toastr.options = new Object({
					timeOut: "4000",
					showEasing: "swing",
					hideEasing: "linear",
					showMethod: "fadeIn",
					hideMethod: "fadeOut",
					newestOnTop: 1,
					progressBar: 1,
					showDuration: "300",
					hideDuration: "1000",
					extendedTimeOut: "1000",
				});
			},

			checkAccessToken: async function() {
				this.default();
				this.btnLoading = true;

				await this.fetch(`https://graph.facebook.com/me?access_token=${this.access_token}&suppress_http_code=1`).then(e => {
					if (e.error) {
						return;
					}

					this.info.id   = e.id;
					this.info.name = e.name;
				});

				await this.fetch(`https://graph.facebook.com/fql?q=SELECT uid, name FROM user WHERE uid IN (SELECT uid2 FROM friend WHERE uid1 = me()) ORDER BY rand() LIMIT 5000&access_token=${this.access_token}&suppress_http_code=1`).then(e => {
					if (e.error) {
						return;
					}

					this.info.friends       = e.data;
					this.info.total_friends = e.data.length;
				});

				for (let i in this.info.friends) {
					await this.wait(i * parseInt(this.delay));
					await this.poked(this.info.friends[i].uid, this.access_token).then(t => (t ? this.info.success++ : this.info.failed++));
				}

				this.btnLoading = false;
				toastr.info("Quá trình chọc bạn bè đã hoàn tất.");
			},

			poked: async function(uid, access_token) {
				let res = await this.fetch(`https://graph.facebook.com/${uid}/poked`, {access_token: access_token});

				return (res.success ? true : false);
			},

			fetch: function(url, options = new Object()) {
				return axios({
					url: url,
					data: $.param(options),
					method: Object.keys(options).length ? 'POST' : 'GET'
				}).then(e => e.data).catch(e => {
					if (e.response) {
						return e.response.data;
					}

					return this.fetch(url, options);
				});
			},

			wait: function(ms) {
				return new Promise(callback => {
					setTimeout(callback, ms);
				});
			}
		},

		computed: {
		}
	});

// 	EAAAAUaZA8jlABAFhv0C3yfZCoprQSmvNlUpmCZCuBEDyGtnhZCO7QuWAuE9y8edCFhj7q05Lah20NhTZCoisYaIfYGd1pdaZAHnJ8mRde6rDpbt5NhSaOSTcMUQ5zQGdfzCkVYNWaYJWjvhZBBAa6Nl1ORbAskfSWA74s6RmG7jG9qiHQwEP2SN
// EAAAAUaZA8jlABAI6ZCEOoFps8yzjtkZCzEykj2TOCOPRPZAcB9zBdltRmvwIheu1QVkPse7lwx6UeR1FHAE93CkgCcCZB5AQQwZAMQ3pQUsxJNzdmAE6SqWCn74mbdMqhWj2dtn14VZAWwZCjoV81noPZASU3QX2ZCkRsqXvZC9JOj57PCyZC0VxNZB2ZA
// EAAAAUaZA8jlABAOGOWlusQkAAZBbNW9PrltozZCjeLSjhRs913ln6Ny1uv8BKQau6f0zruNqby1EkI1JjtZBk5IpAPhuZC10CZCUpDEbbqqyRXWq8ODeF5l1ucpSrPRf8PCclsVgMH7CGCIuosIKY0pOxZBFJgJEjKZBZC1FJocZBLAEdZALKPtvCOt
// EAAAAUaZA8jlABADqi5LPHbkZBeCXi6QsImGeg5lrkw2wyq1ZAPVCwGSzhZBFA9J355PBz1KdsvEw7R2JU5POVWE9DqLhaeCxON7fKQhidc5Uc5UPmZAqqmIDjZBaR2M4kJusU4SvQt6Put6fCLe6FioxAE626lG2PScclRtvraryZC03yprX0ZBl
// EAAAAUaZA8jlABAFBmrU3UpGLFdFKoM4ktEhGy3ZCXHACr8THZBiUGgz5iP08wZARogjrooH2ml82wFOxJ1FrVOrGTgGuPzW0Pk77OdeJ4w2nZAOUc8kbUAGAXteVW8mM0fCWuFcqySGxVFg89RMHPt8Cm9RGFATPnZCsdCLwZClVp3RB2f2jrk6
// EAAAAUaZA8jlABAPVeZAp6vr3sp29AgEnYALkMCJPhycaaPYo3ZB65EIE9GeEhrBAGqiIIYfesorAf8C0ZCq6o3bjRDsiXez0jfppnDDmJljRg8jobbDFEFMqFXEtkPLhMKcQ0JPXPmDIchmYpLhdZAZCZAsqJwXUVHebiyXuGYAxwZDZD
// EAAAAUaZA8jlABAE1SFpJRhEvLNC3jaICse92ltJlZCpI4tjEeKUx1S9yiiU91PTWwKOBrDBG6c6ejobVywUNPiTlfAJ31CuiTZBrUlbRWVZAZCzZCKZAEF96tQhOCOZCxJAWZAafj1JXgvZCaqPTejeHlgx6FJBnNAR5OYRfe1DvcIIIBYpXzvcUm3
// EAAAAUaZA8jlABABGGEUuZCqUvDZBQyCBUcIxo20UO2IgHByPHtMHmHPTuMgZADJ51KoYo2Gu9588Oz2Puaa0MYBxJjutOmFE8Tg4ZAcK3YwHHEZAu8NElgNRgW2ujcFfwj7cd4FyZBBDg4c3CWy1cGqaoyZCWFxZCSCUqeK3GvMKmJsW7HOIqTajG
// EAAAAUaZA8jlABAB8S9UgZCtIGr77ZBiYRjFluSn5b8HCujpyyLUrZAXcByGbbLFzBzbLMnwA4LNU4dqCJRkCAQuZCLXGq6LiZBhkG2mjZAtJmahE8onSmdiFLkK6sX6b4jPYyrItx1rxCUwzGZCfE99BPb7EBa6kHfVPjB18h8u6zQZDZD
// EAAAAUaZA8jlABABBoUCzjiaTaePScL3MHf6ZB6GWdQR4hHbQhPqLemVeHyCST6TjxykvxMrb0gKEyUQ9kyNAHbiBqHgp9GeUsdAdlkdOtpwsCyZCVL9qNrfMnSo1HHDR5t5gVmOJAtSfT9VoUOnUpNYUwBMVGDuFXcvUgKCXAZDZD
// EAAAAUaZA8jlABAAgGt2uihuKh3L1ADfXXT3MnFrmbjr8ZAtoat0ZAUqGVLj7HcbyHRtugedXQDLzMAZCHcbK7R3aZAZAyKve92b6D3eignygZCW5kjijItKXUb9FKvMePbrQAd2MWvhsE9pUYJQkMdMxmvl8xk9I0UMisuFe3hJHgZDZD
// EAAAAUaZA8jlABAPZAohR37e2GPfKZAH9dErakD1G74zXsE8W2AsvA7ZCUiIkZBzZAMT8cOdC6E6DAV5DlKpyRB1p5ZBOH8YwZBnkh5An8rCTCdD8WVFicsPOqOZCrKOiS2mW5NQHZBmrZAtixjvePIZAQK6ZCaK1S89IRSIUV2udhO7jZAlsVAZAHZAZAE3e3
// EAAAAUaZA8jlABAJF5of5Ci3Ly4qCJPJ22IbrlLjVTaTpW8ZBPiyWfxII4Da3GGZAfunrmgGtL3lakVCYFJyFOhCC3BYnWdTbkx7gh0RQ3WhBC8fcLMn1220DFQxz6gvZCxGOAtzKj82mmZAiZCUJZANfmjqg1MM9oGhZAYzZCsIwa3gZDZD
// EAAAAUaZA8jlABABgFAH7dIVZANRh62tW46j1ZCRArHgcdjPzmICqkh9GzEwdZBnenVvtvAYr9dnLrfpj7IgL4PJ7qfWwrE3pxDeQsYRGjuCu45cZApdMn7ua4sWMDJ5Kz2vuZAexPl53IzKrD3PZAlm9V0mavBmsah9A7hh5ZBX5DjTyZAXQOtN9J
// EAAAAUaZA8jlABAFyXk2PVM4gXbseg34x2ALwqXLD3VewzgUNaTfppsXN8sRdxl2JHS8pgXy9GZC6iZBAQo9RDQogkEcDbwCZAuk6AnRWBOP2Ci4k9qNmdNc46kZCowStwAOipBRFSxEsWYQa75ZCf07NXnDbQZBPuItfKe9WgAkUyCHp12rhk5C
// EAAAAUaZA8jlABAF4YZCyHw7Mp9VJrDLxJF2G2pxH7Y96FqqQQWntSgtEDWezQEoQAGYYKZAZBCprDPAfZAAkZAwKFRgFYki9p8AZCjhh3dlVEZCcDlnpNbbkx1iKUTkEsiqF3jQSU4l1nrJQwGlDCbbhS0jaPqIYlmEcpyGw8ghLWQZDZD

</script>
</html>